# Node modules
node_modules/

# Cypress folder content
cypress/videos/
cypress/screenshots/

# Cypress environment variables file
.env

# npm log files
npm-debug.log
yarn-error.log

# macOS Finder system files
.DS_Store

# Windows thumbs.db
Thumbs.db